/*estilo geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}


/*estilo do cabeçalho*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}

header a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 40px;
}

 

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}
/* main*/

main{
    padding: 80px 4%;
    display: flex;
    align-items: center;
    justify-content: center;

}

main .flex{
    display: block;
    text-align: center;
}

.img-centro{
    padding-bottom: 80px;
}

.neon{
    display:inline-block ;
    text-decoration: none;
    font-size: 64px;
    color: #00ff08;
    border: 4px solid #00ff08;
    padding: 16px 64px;
    border-radius: 16px;
    margin-bottom: 140px;

    text-shadow: 0 0 8px rgba(255,255,255,0.3), 0 0 29px #00ff08;
    box-shadow: inset 0 0 32px #00ff08, 0 0 32px #00ff08;

    position: relative;
}

.neon::before{
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00ff08;
    left: 0;
    top: 120%;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
}

.neon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00ff08;
    box-shadow: 0 0 128px 32px #00ff08;
    z-index: -1;
    opacity: 0;
}

.neon:hover::after,
.neon:focus::before{
    opacity: 1;
}

.neon:hover::before,
.neon:focus::before{
    opacity: 1;
}

.neon:hover,
.neon:focus{
    color: black;
    text-shadow: none;
}


main img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* footer*/

footer{
    padding-top: 90px;
    padding: 0px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #00ff08;
}

footer .line-footer .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 1s;
    
}

footer .line-footer .btn-social button:hover{
    transform:scale(1.05) ;
}

footer .line-footer p{
    color: #00ff08;
    font-size: 20px;
}

footer .line-footer p a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

footer .line-footer p a:hover{
    text-decoration: underline;
}

footer .line-footer p svg{
    position: relative;
    top: 7px;
}

footer .logo-footer img{
    width: 120px;
    padding-bottom: 20px;
}


footer .line-footer .btn-social {
    padding-top: 50px;
}

@media screen and (max-width:1020px)  {
    /*header*/

    .menu-desktop, .btn-contato{
        display: none;
    }
    .interface .logo img{
        width: 90px;
    }

    /*main*/

    main{
        padding: 0 10%;
    }

    .img-centro img{
        width: 75%;
    }

    .topo-do-site .flex .img-centro{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .interface{
        text-align: center;
    }

    .neon{
        vertical-align: middle;
        text-decoration: none;
        font-size: 40px;
        padding: 15px 50px;
    }

    /*footer*/

    footer{
        padding: 20px 2%;
    }
    
    footer .flex{
        display: block;
        text-align: center;
    }
    
    footer .line-footer .btn-social {
        padding: 0;
        padding-bottom: 15px;
    }
    
    footer .logo-footer img{
        width: 120px;
    }
    
    footer .line-footer p {
        display: flex;
        justify-content: center; 
        gap: 4px;   
    }
    
    footer .line-footer p svg{
        position: relative;
        top: 4px;
    }
    
    }


