/*estilo geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}


/*estilo do cabeçalho*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .interface .logo img{
    width: 140px;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}

header a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 40px;
}

 

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}
/* Topo do site*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-topo-site h1{
    color: white;
    font-size: 42px;
    line-height: 48px;
}

.topo-do-site h1 span{
    color: #00ff08;
    font-size: 50px;
}


.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0px;
}

.topo-do-site .img-topo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* footer*/

footer{
    padding-top: 60px;
    padding: 0px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #00ff08;
}

footer .line-footer .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 1s;
    
}

footer .line-footer .btn-social button:hover{
    transform:scale(1.05) ;
}

footer .line-footer p{
    color: #00ff08;
    font-size: 20px;
}

footer .line-footer p a{
    color: white;
    font-size: 15px;
}

footer .line-footer p svg{
    position: relative;
    top: 7px;
}

footer .logo-footer img{
    width: 120px;
    padding-bottom: 20px;
}


footer .line-footer .btn-social {
    padding-top: 50px;
}


@media screen and (max-width:1020px) {
    /*cabeçalho*/

    .menu-desktop,.btn-contato{
        display: none;
    }

    header .interface .logo img{
        width: 90px;
    }


    /*main*/

    main .flex{
        flex-direction: column-reverse;
    }

    .topo-do-site .txt-topo-site h1{
        line-height: 44px;
    }

    .topo-do-site .txt-topo-site p{
        margin-top: 20px;
}
    

    